body {
    font-size: 16px;
    color: black;
    font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
.navbar {
    background-color: #e3f2fd;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.navbar-nav {
    text-align: center;
    background: lightblue;
    color: black;
}
.navbar-brand {
    margin-left: 20px;
    padding-top: 3px;
    font-size: 1.4em;
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
  }
  button.navbar-toggler {
      margin-top: 5px;
      margin-right: 20px;
      margin-bottom: 10px;
  }
  /********** Medium and Large devices **********/
@media (min-width: 576px) {
    .navbar-dark .navbar-nav .nav-link {
      display: none;
    }
  }
/* END HEADER */
  
.container {
    /*border: 1px solid red;*/ 
    width: 100%; 
}
.row {
    margin: 10px auto; /*top-right-bottom-left*/
    padding: 5px 2px 5px 2px; /*top-right-bottom-left*/
    /*border: 1px solid blue;*/
    background: lightgrey;
    height: 1000px;

}
#menu-title {
    padding: 10px;
    font-size: 1.4em;
}
#food-type{
    text-align: center;
}
#food-type div{
    font-size: 0.75em;
}
/*.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}*/
